@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap');

:root{
    --primary-color: #f5b754;
    --primary-color-dark: #d6a04a;
    --text-dark:#15191d;
    --text-light:#737373;
    --extra-light:#e5e5e5;
    --white:#ffffff;
    --max-width:1200px;
    --header-font:"syncopate", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}
.section_header{
    font-size: 3.25rem;
    font-weight:700;
    font-family:var(--header-font);
    color:var(--text-dark);
    letter-spacing: -5px;
    line-height: 4.25rem;
}

.btn{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size:1rem;
    color:var(--white);
    background-color: var(--text-dark);
    border-radius: 10px;
    transition: .3s;
    cursor:pointer
}

.btn:hover{
    color: var(--text-dark);
    background-color: var(--primary-color);

}

img{
    display: flex;
    width: 100%;
}

a{
    text-decoration: none;
    transition: 0.3s ;
}

ul{
    list-style: none;
}

html,
body{
    scroll-behavior: smooth;
}

body{
    font-family: "poppins", sans-serif;
}

header{
    position: relative;
    background-image: url("assests/header-bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav_header{
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.nav_logo a{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--white);
    letter-spacing: -2px;
}

.nav_menu_btn{
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.nav_links{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--primary-color);
    transition: tranform .5s;
    z-index: -1;
}

.nav_links.open{
    transform: scale(translatey(100%));
}

.nav_links a{
    font-weight: 500;
    color: var(--white);
}

.nav_links a:hover{
    color: var(--text-dark);
}

.nav_btn{
    display: none;
}
